*{}
html{}
body{
background-image:url("../images/backgrounds/bg_1.png");
background-size:cover;
  overflow:hidden;
  color:green;
 
}

#bg-img1{


  width:100%;
  border:2px red solid;
  /* background-size: */
}
.col{

  display: flex;
  justify-content: center;
  align-items: center;

/*   
  background-repeat:no-repeat;
  background-image:url('../images/backgrounds/g.png');
  padding:10px;
  border:20px;
  background-size:cover; */

/* 
  width:100%;
  height:100%;
  background-image:url("../images/backgrounds/g.png");
 background-repeat: no-repeat;

  size:cover; */
}

.container{

}
/* .sky{

  background-image:url("https://i.imgur.com/qL8GVwh.png");
  display:block;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  position:fixed;
  

  top:0;
  left:0;
  background-size:contain;
} */
.road{
  background-image:url("../images/backgrounds/bg_0.png");
  /* z-index: 00; */
  top:0;
/* left:0; */

display: flex;
justify-content: center;
align-items: center;
padding-top:10%;


}

#about{
/* position:relative; */
/* z-index:600; */
}

/* .amergin{
  position:fixed;
  display:block;
  background-repeat:no-repeat;
  padding:10px;
  border:10px;
  margin:0% 10% 3% 10%;
  background-size:contain;
  z-index: 500;
 } */
/* .d-block.w-100 */
.active  {
  /* transition: transform  !important; */
  z-index: 10;

}

#holdImg{

  width:100%;
  border:2px purple solid;
  /* background-size: */
position:fixed;
display: flex;
justify-content: center;
align-items: center;
z-index: 50 !important;
/* padding-top:10%; */


}
#holdSlide{

  padding-left: 19px;
  padding-top: 11px;
position:fixed;

  opacity:0;

display: flex;
justify-content: center;
align-items: center;
 
z-index: 150 !important;


}
.carousel-inner{
  width:600px;
  max-height: 400px !important;
}











