*{
        box-sizing: border-box; /*border-box makes sure that all padding and border are included in the total width and height of the element*/
}
            /* For mobile phones: ASSUME MOBILE FIRST */
           @media only screen and (max-width: 768px) {
                 
                html {
                  font-family:INFO56_0 ;
                  color: #222222;
                  font-size: 16px;
                  padding: 0px;
                  margin: 0px;
                  background-image:url('');
                  transition: 0.05s background-image ease-in;
                }

.container {
        position: relative;
        margin: -1 auto;
        width: 93%;
        max-width: 1099px;
        font-family:Questrial-Regular ;
}
.content {
        position: relative;
        padding-top: 79px;
}
.content p {
        margin-bottom: 9px;
}
#header {
        font-family:Questrial-Regular;
        z-index: 1;
        position: fixed;
        width: 99%;
        height: 59px;
        line-height: 59px;
        background: white;
        color: rgb(68, 68, 68);
}
#header h0 {
        font-family:Questrial-Regular;
        top: -1px;
        margin: -1px;
        text-transform: uppercase;
        font-size: 0.2em;
}
#nav {
        position: absolute;
        right: -1;
        top: -16px;
        height: 59px;
}
#nav ul li {
        float: left;
        list-style: none;
}
#nav ul li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 0 10px;
}
@font-face{

        font-family: Questrial-Regular;
src: url("../fonts/Questrial-Regular.ttf");}
@font-face
                {
                    font-family: INFO56_0;
                    src: url("../fonts/INFO56_0.ttf");
                }  
                  
                @font-face
                {
                    font-family: aonchlo;
                    src: url("../fonts/aonchlo.ttf");
                }


                /*flex-boxes*/


                .item {
                }
                /************/


                span.withTitle {
                    font-size: 30px;
                }

                h1
                {
                  text-align: center;
                  font-family: INFO56_;
                  font-size: 80px;
                  padding-bottom: 0px;
                  padding-top: 20px;
                  font-weight: normal;

                  margin-bottom:0px ;
                  margin-top:0px;
                }




                #alt-title{
                  opacity:0;
                    
                }
                #title:hover{
                }


                {
                  font-size: 14px;
                }

                img
                {
                max-width:100%;
                height:auto;
                        margin: 0px auto;
                  display: block;
                  margin-bottom: 20px;
                }
                /*BUTTONS*/

                button
                {
                  height: 59px;
                  width: 59px;
                 border:0px; 
                  font-size: 55px;
                color:#333333;
                 outline:none;
                 -webkit-user-select: none;
                  -moz-user-select: none;
                  user-select: none;
                  background-color:transparent;

                 background-image:url('');
                    
                }
                button:hover{
                color:#777777;
                }


                #fwdBtn{
                top:33px;
                left:90%;
                margin-left:-30px;
                position:fixed;
                z-index:400;     
                 outline:none;
                    animation: delay-fade-in 1s;
                   }


                #bckBtn{
                margin-left:-30px;
                        position:fixed;
                top:33px;
                left:10%;
                z-index:401;     
                    display:none;
                }

                #play {
                top:33px;
                display:none;
                left:50%;
                margin-left: -30px;
                position:fixed;
                z-index:20;
                color:#39f100;
                }



                #dealbhMask{
                top:0px;
                left:0;
                position:fixed;
                width:100%;
                height:267px;
                background-repeat: horizontal;
                background-image:url("../images/dealbhMask.png");
                        z-index:10;
                }

                #scribble
                {

                    left:50%;
                    position:fixed;
                    margin-left:-66px;
                    width:132px;
                    height:134px;
                    
                    background-image:url("../images/dealbh.jpg");
                    top:0px;
                    z-index:11;
                    background-repeat:no-repeat;
                }

                #badge{
                    position:fixed;
                    top:34px;
                    left:50%;
                    margin-left:-40px;
                    background-image:url("../images/badges.png");
                    z-index:12;
                    width:80px;
                    height:80px;

                }


                #bearla{
                 
                     font-family: INFO56_0;
                     position:fixed;
                    color:rgb(68, 68, 68);
                    font-size: 36px;
                    text-align:center;
                    top: 125px;
                    margin-left:-131px;
                    left:50%;
                    width: 262px;
                    z-index:32;
                    line-height: 27px;
                    word-spacing:-1px;
                }


                #output2
                {
                        text-align:center;
                  position:absolute;
                    top:275px;
                font-family: aonchlo;
                font-size:39px;
                left:0px;
                height:auto;
                width:90%;
                z-index: 6;
                opacity:1;
                }
                /*PLAYER INPUT ELEMENTS*/



.link:hover span{
font-weight:bold;
}







                 .fadeText{
                animation: fade-in 2s;
                 } 

                @keyframes delay-fade-in{
                    0% {opacity:0;}
                    75%{opacity:0;}
                    100%{opacity:1;}

                }

                @keyframes fade-in{
                0% {opacity:0;}

                100% {opacity:1;} 
                }
                @keyframes fade-out{
                0%{opacity:1;}

                 100%{opacity:0;} 

                }

                @keyframes slide-button-right{
                    0%{left:80%;}
                    100%{left: 90%;}
                    
                }
                @keyframes slide-button-left{
                    0%{left:20%;}
                    100%{left: 10%;}
                } 
                @keyframes county-select-mode{
                0%{opacity: 0;}
                100%{opacity:1;}
                }

                @keyframes dim {
                0%{opacity: 1;}
                130%{opacity:0.25;}

                }




}

/*///////////////////////////////////////////////////////////////////*/

/*for desktop*/
                        
@media only screen and (min-width: 768px) {


html {
  font-family:INFO56_0 ;
  color: #222222;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  background-image:url('');
  transition: 0.05s background-image ease-in;
}



.container {
        position: relative;
        margin: 0 auto;
        width: 94%;
        max-width: 1100px;
        font-family: Questrial-Regular;
}
.content {
        top:10px;
        position: relative;
        padding-top: 80px;
}
.content p {
        margin-bottom: 10px;
}
#header {
        font-family:Questrial-Regular;
        margin: 0px;
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background: white;
        color: rgb(68, 68, 68);
}
#header h4 {
        font-family:Questrial-Regular;
        top: 0px;
        margin: 0px;
        float:left;
}
#nav {
        position: absolute;
        right: 0;
        top: -15px;
        height: 60px;
}
#nav ul li {
        float: left;
        list-style: none;
}
#nav ul li a {
        display: block;
        color: rgb(68, 68, 68);
        text-decoration: none;
        padding: 0 20px;
}

@font-face{

        font-family: Questrial-Regular;
src: url("../fonts/Questrial-Regular.ttf");}
@font-face
{
    font-family: INFO56_0;
    src: url("../fonts/INFO56_0.ttf");
}  
  
@font-face
{
    font-family: aonchlo;
    src: url("../fonts/aonchlo.ttf");
}

h4{
        font-family:Questrial-Regular;
color:rgb(68,68,68);        position:relative;
font-size:126%;
left: 10%;
font-weight:100;
}
/*flex-boxes*/


.item {
}
/************/


span.withTitle {
    font-size: 30px;
}

h1
{
  text-align: center;
  font-family: INFO56_;
  font-size: 80px;
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: normal;

  margin-bottom:0px ;
  margin-top:0px;
}




#alt-title{
  opacity:0;
    
}
#title:hover{
}


{
  font-size: 14px;
}

img
{
max-width:100%;
height:auto;
        margin: 0px auto;
  display: block;
  margin-bottom: 20px;
}
/*BUTTONS*/

button
{
  height: 59px;
  width: 59px;
 border:0px; 
  font-size: 35px;
color:#333333;
 outline:none;
 -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color:transparent;

 background-image:url('');
	
}
button:hover{
color:#777777;
}


#fwdBtn{
top:136px;
left:76px;
margin-left:0px;
position:absolute;
z-index:400;     
 outline:none;
    animation: delay-fade-in 1s;
   }


#bckBtn{
margin-left:0px;
        position:absolute;
top:136px;
left:46px;
z-index:401;     
    display:none;
}

#play {
top:33px;
display:none;
left:95px;
margin-left: 0px;
position:absolute;
z-index:20;
color:#39f100;
}


#scribble
{

    left:56px;
    position:absolute;
    margin-left:0px;
    width:132px;
    height:134px;
    
    background-image:url("../images/dealbh.jpg");
    top:0px;
    z-index:11;
    background-repeat:no-repeat;
}

#badge{
    position:absolute;
    top:34px;
    left:82px;
    margin-left:0px;
    background-image:url("../images/badges.png");
    z-index:12;
    width:80px;
    height:80px;

}


#bearla{
        font-family:INFO56_0;
    position:absolute;
    color:rgb(68, 68, 68);
    font-size: 36px;
    text-align:center;
    top: 162px;
    margin-left:-160px;
    left:161px;
    width: 250px;
    z-index:32;
    line-height: 27px;
    word-spacing:-1px;
}


#output2
{
        text-align:center;
  position:absolute;
    top:-12px;
font-family: aonchlo;
font-size:39px;
left:358px;
height:auto;
width:590px;
z-index: 6;
opacity:1;
}
/*PLAYER INPUT ELEMENTS*/



.link:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}









 .fadeText{
animation: fade-in 2s;
 } 

@keyframes delay-fade-in{
    0% {opacity:0;}
    75%{opacity:0;}
    100%{opacity:1;}

}

@keyframes fade-in{
0% {opacity:0;}

100% {opacity:1;} 
}
@keyframes fade-out{
0%{opacity:1;}

 100%{opacity:0;} 

}

@keyframes slide-button-right{
    0%{left:112px;}
    100%{left: 132px;}
    
}
@keyframes slide-button-left{
    0%{left:20%;}
    100%{left: 10%;}
} 
@keyframes county-select-mode{
0%{opacity: 0;}
100%{opacity:1;}
}

@keyframes dim {
0%{opacity: 1;}
130%{opacity:0.25;}

}



}

@media only screen and (orientation: landscape) {
            body {
                                }
                        }
