body {
  /* margin: 5%; */
}

#bearla-and-nav-btns {
  /* position: relative; */
  /* height: 33%; */
  /* margin-top: 10%; */
  /* border: 2px solid orange; */
  /* background-color: blue; */

  /* padding: 0% 0% 10% 10%; */
  display: flex;
  /* align-content: center; */

  /* position:fixed; */
}
#larger {
  /* height:50%; */
  /* padding: 10% ; */

  /* margin-top: 10%; */
  /* padding: 5%; */
  /* display: flex; */
  /* align-content: left; */
  /* border: 2px solid blue; */
  /* position:relative; */
}
#bearla-holder {
  /* border: 2px solid salmon; */
  text-align: center;

  /* background-color: red; */
  /* display: flex;*/
  /* justify-content: space-around; */
}

#bearla {
  font-family: INFO56_0;
  position: absolute;
  top: 30%;
  color: rgb(68, 68, 68);
  font-size: 36px;
  width: 250px;
  z-index: 32;
  line-height: 27px;
  word-spacing: -1px;
  margin-left: 25%;
  /* border: 2px solid salmon; */
  /* padding-left:5%; */
}

#nav-btns {
  padding: 8% 0 0 10%;
  margin: 20% 0 0 10%;
  /* border: 2px solid salmon; */
  height: 20%;
  width: 100%;
  justify-content: center;
}

#output2 {
  text-align: center;
  color: black;
  /* position: absolute;
 top: 275px; */
  font-family: aonchlo;
  font-size: 29px;
  /* left: 0px;
 height: auto;
 width: 90%;
 z-index: 6; */
  opacity: 1;
  padding: 20% 10% 0 0;
}

#ctrls {
  /* padding: 5%; */
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  /* border: 2px solid red; */
  position: relative;
  top: 60%;
  align-content: center;
}

#main-bg {
  background-image: url('../images/backgrounds/g.png');
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  position: absolute;

  overflow: hidden;
  /* border: 2px solid green; */
  height: 100%;
  width: 100%;
}

html {
  font-family: INFO56_0;
  color: #222222;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  background-image: url('');
  transition: 0.05s background-image ease-in;
}

@font-face {
  font-family: EagleLake;
  src: url('../fonts/EagleLake.ttf');
}
@font-face {
  font-family: INFO56_0;
  src: url('../fonts/INFO56_0.ttf');
}

@font-face {
  font-family: aonchlo;
  src: url('../fonts/aonchlo.ttf');
}

button {
  height: 59px;
  width: 59px;
  border: 0px;
  font-size: 35px;
  color: #333333;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;

  background-image: url('');
}
button:hover {
  color: #777777;
}

#fwdBtn {
  margin-left: 0px;
  position: relative;
  z-index: 400;
  outline: none;
  animation: delay-fade-in 1s;
  /* border:2px solid slateblue; */
}

#bckBtn {
  /* padding-right: 5%; */
  position: relative;
  /* border:2px solid slateblue; */

  z-index: 401;
  /* display: none; */
}

#play,
#noplay {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px;
  display: none;
  color: #39f100;
  /* border:2px solid slateblue; */
}

#noplay {
  color: rgb(47, 14, 14);
}

#noplay:hover {
  color: rgb(27, 54, 70);
}
#play:hover {
  color: rgb(189, 179, 45);
}

#fwdbck {
  height: 35%;
  width: 20%;
  position: fixed; /* Stay in place */
  z-index: 1200; /* Sit on top */
  left: 0%;
  top: 50%;
  /* pointer-events: none; */
  display: flex;
  overflow: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  align-content: center;
}
#scribble {
  /* left: 56px; */
  position: relative;
  margin-left: 0px;
  width: 132px;
  height: 134px;
  display: flex;
  align-content: center;
  text-align: center;
  /* background-image: url('../images/dealbh.jpg'); */
  top: 10%;
  z-index: 11;
  background-repeat: no-repeat;
}

#badge {
  position: relative;
  top: 25%;

  margin-left: 0px;
  /* background-image: url('../images/badges.png'); */
  z-index: 12;
  width: 80px;
  height: 80px;
}

.link:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.fadeText {
  animation: fade-in 2s;
}

@keyframes delay-fade-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-button-right {
  0% {
    left: 112px;
  }
  100% {
    left: 132px;
  }
}
@keyframes slide-button-left {
  0% {
    left: 20%;
  }
  100% {
    left: 10%;
  }
}
@keyframes county-select-mode {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dim {
  0% {
    opacity: 1;
  }
  130% {
    opacity: 0.25;
  }
}

@media only screen and (orientation: landscape) {
  body {
  }
}
