* {
  padding: 0;
  margin: 0;
}
html {
  overflow: hidden;
}
body{background-color:black;}
#ainmbox {
  /* border: 2px solid green; */
  width: 100%;
  color: rgb(219, 213, 157);
  padding: 10px 40px 0 40px;
  margin-top: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family: aonchlo;
  src: url('../fonts/aonchlo.ttf');
}

@font-face {
  font-family: unciale;
  src: url('../fonts/EagleLake.ttf');
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 250px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #383838;
  -webkit-animation: spin 2s linear infinite;
  /*Chrome, opera 15+, safari 5+*/
  animation: spin 2s linear infinite;
  /*Chrome, firefox 16+, ie10+,  Opera*/
  z-index: 10001;
}

#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #353535;
  -webkit-animation: spin 3s linear infinite;
  /*Chrome, opera 15+, safari 5+*/
  animation: spin 3s linear infinite;
  /*Chrome, firefox 16+, ie10+,  Opera*/
}

#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #535353;
  -webkit-animation: spin 1.5s linear infinite;
  /*Chrome, opera 15+, safari 5+*/
  animation: spin 1.5s linear infinite;
  /*Chrome, firefox 16+, ie10+,  Opera*/
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /*Chrome, Opera 15+, Safari 3.1+*/
    -ms-transform: rotate(0deg);
    /*IE 9*/
    transform: rotate(0deg);
    /*Firefox 16+, IE 10+, Opera*/
  }
  100% {
    -webkit-transform: rotate(360deg);
    /*Chrome, Opera 15+, Safari 3.1+*/
    -ms-transform: rotate(360deg);
    /*IE 9*/
    transform: rotate(360deg);
    /*Firefox 16+, IE 10+, Opera*/
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /*Chrome, Opera 15+, Safari 3.1+*/
    -ms-transform: rotate(0deg);
    /*IE 9*/
    transform: rotate(0deg);
    /*Firefox 16+, IE 10+, Opera*/
  }
  100% {
    -webkit-transform: rotate(360deg);
    /*Chrome, Opera 15+, Safari 3.1+*/
    -ms-transform: rotate(360deg);
    /*IE 9*/
    transform: rotate(360deg);
    /*Firefox 16+, IE 10+, Opera*/
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;

  z-index: 10000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
  background-color: rgb(0, 0, 0);
}

#loader-wrapper .loader-section.section-right {
  right: 0;
  background-color: rgb(0, 0, 0);
}

/*Loaded styles*/
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: (-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: (100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

#btn-tall-order, #btn-gaeilge {
  /* position: absolute; */
  /* top: 30%; */
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  animation: MoveUpDown 2s infinite;
}
#main-bg {
  background-image: url('../images/backgrounds/2BG.png');

  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  position: absolute;

  overflow: hidden;
  /* border: 2px solid green; */
  height: 100%;
  width: 100%;
}
#main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#btn-row {
  display: flex;
  /* border: 2px solid blue; */
  /* padding-top: 150px; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fa-envelope {
  /* color: #daffce; */
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 38%;
  }
  50% {
    bottom: 40%;
  }
}
@keyframes StopIt {
  0%,
  100% {
    bottom: 39%;
  }
  50% {
    bottom: 39%;
  }
}
#btn-tall-order:hover {
  animation: StopIt 2s linear infinite;
}

#btn-gaeilge:hover {
  animation: StopIt 2s linear infinite;
}

.btn-outline-success{
  border-color:rgba(0,0,0,0);
}

#go-btn-img, #go-btn-img2{
  zoom:0.4;
}
.land{
 position: fixed;
  top:21%;
  left:9%;
  zoom:1;
}
#btn-tall-order, #btn-gaeilge{
  left:45%;
  zoom:0.4;
}

#btn-gaeilge{
  /* top:45%; */
}



@media screen and (orientation:landscape) {

#btn-gaeilge{
  left:53%;
}


#btn-tall-order{
  left:35%;
}



p{
  position:fixed;
  color:white;
  bottom:50%;}
  
  #gael, #auslander{
    margin-left:20px;
    margin-top:0%;
    font-size:3em;
}
#auslander,
#gael{
  margin-left:9%;
  top:65%;
  margin-top:0%;
  font-size:3em;

}
#auslander{

  margin-left:-9%;

}
  #main-bg{
    background-image: url('../images/backgrounds/bg_Dark.png');

  }
}
@media screen and (orientation:portrait) {

  #main-bg {
    background-image: url('../images/backgrounds/bg_dark_portrait.png');
  
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    position: absolute;
  
    overflow: hidden;
    /* border: 2px solid green; */
    height: 100%;
    width: 100%; 
    background-size:cover;
    /* background-repeat: no-repeat; */
  }
  p{
    position:fixed;
    color:white;
    bottom:50%;}
    
    #gael, #auslander{
      margin-left:20px;
      margin-top:0%;
      font-size:3em;
  }
  #auslander{
    margin-left:1%;
    padding-top:0%;
    font-size:3em;
  }
  
  #gael{
    margin-left:1%;
    top:70%;
    margin-top:0%;
    font-size:3em;
  }

  #btn-gaeilge{
    padding-top:35%;
   }
  #btn-tall-order{
   padding-bottom:43%;
  }

  p{
    position:fixed;
    color:white;
  bottom:50%;}


}